<!-- gifts container -->
<section class="container-gift">
    {% if clickedGift.id %}
        {% comment %} op details pagina worden er maar 5 gegenereerd {% endcomment %}
        {% for gift in giftData limit:6 %}
            {% comment %} op de details pagina wordt het cadeau die nu open is niet getoont onderaan {% endcomment %}
            {% unless gift.id == clickedGift.id %}
                {% render 'partials/article-gift.liquid', gift: gift, bookmarks: bookmarks %}
            {% endunless %}      
        {% endfor %}
    {% else %}
    {% comment %} voor de index pagina {% endcomment %}
        {% for gift in giftData %}
            {% render 'partials/article-gift.liquid', gift: gift, bookmarks: bookmarks %}
        {% endfor %}    
    {% endif %}
</section>