<!-- gifts container -->
<section class="container-gift">
    <!-- artricle-gift uit partials -->
    {% comment %} {% for gift in giftData %}
        {% render 'partials/article-gift.liquid', gift: gift, bookmarks: bookmarks %}
    {%- endfor %} {% endcomment %}

    {% for gift in giftData %}
        {% unless gift.id == excludeGift.id %}
          {% render 'partials/article-gift.liquid', gift: gift, bookmarks: bookmarks %}
        {% endunless %}
    {% endfor %}

    <!-- reminder to log in -->
    <article class="article-login">
        <h3>Create a list for your best friend</h3>
        <svg width="138" height="129" viewBox="0 0 138 129" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M60.8646 39.3012C60.8646 39.3012 58.2119 18.2649 42.318 18.025C26.4018 17.7851 14.3866 21.2632 14.3866 21.2632C14.3866 21.2632 1.68036 34.3599 6.6514 42.2276C11.6224 50.0952 22.8574 57.747 22.8574 57.747L6.1164 69.0207C6.1164 69.0207 -1.52963 95.2142 0.855574 102.122C3.24078 109.031 23.5484 124.886 30.6149 123.231C37.659 121.576 48.8494 110.59 49.2061 105.409C49.5628 100.227 50.7442 122.415 63.6511 126.229C76.5356 130.043 107.744 129.659 110.865 124.694C113.986 119.729 123.103 108.575 118.711 102.242C114.32 95.9098 102.929 80.7982 102.929 80.7982C102.929 80.7982 131.106 93.5831 132.8 89.2415C134.494 84.8999 138.261 71.0596 137.213 66.5021C136.166 61.9446 135.163 46.953 127.583 46.3293C120.004 45.7056 96.8656 49.7354 96.8656 49.7354C96.8656 49.7354 121.52 44.0506 119.982 36.6147C118.444 29.1788 120.093 15.8902 114.632 14.6909C109.171 13.4915 90.7131 0.0349808 82.3315 0.826542C73.9721 1.6181 63.2721 5.93571 62.7817 12.604C62.2913 19.2723 60.8646 39.2772 60.8646 39.2772V39.3012Z" fill="#EAEAEA"/></svg>
        <img src="/images/friend_img.avif" alt="picture of a friend">
        <span>Register or Log In</span>
    </article>
</section>