<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milledoni</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/milledoni.css">
	<script src="/main.js" defer></script>
</head>
<body>
    <main class="error-404-message">
        <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><circle cx="100" cy="100" r="90" fill="none" stroke="#7F7F7F" stroke-width="10"/><circle cx="70" cy="80" r="12" fill="#7F7F7F"/><circle cx="130" cy="80" r="12" fill="#7F7F7F"/><path d="M 60 140 Q 100 100, 140 140" stroke="#7F7F7F" stroke-width="10" fill="transparent" stroke-linecap="round"/></svg>
        <span class="error-text">404</span>
        <span>pagina niet gevonden</span>
        <a class="link-home" href="/">Terug naar de hoofdpagina</a>
    </main>
</body>
</html>
