{% render 'partials/head.liquid' %}

<main class="bk-lijst-main">
    <!-- artricle-gift uit partials -->
    {% for cadeau in myList %}
        {% render 'partials/article-gift.liquid', gift: cadeau, bookmarks: bookmarks %}
    {%- else %}
        {% render 'partials/empty.liquid' %}
    {%- endfor %}
</main>

{% render 'partials/foot.liquid' %}