{% render 'partials/head.liquid' %}

<main class="bk-overzicht-main">

    <section class="bookmarks-container">
        <h2>Mijn lijsten</h2>

        {% for list in bookmarkLists %}
        <article class="bookmark-list">
            <h3><a href="/bookmark-list/{{ list.name }}">{{ list.name }}</a></h3>

            <a href="/bookmark-list/{{ list.name }}" class="link-img"><img src="/images/marco-pp.webp" alt="marco's profiel foto"></a>

            <span class="birthday">
                <svg class="cake" width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.61245 0.902545C9.44793 0.778171 9.24783 0.710938 9.04219 0.710938C8.83654 0.710938 8.63644 0.778171 8.47193 0.902545C8.07597 1.20833 7.71083 1.55265 7.38178 1.93052C6.8847 2.4948 6.19089 3.44613 6.19089 4.54309C6.19089 5.30535 6.49129 6.03639 7.02601 6.57539C7.56073 7.11439 8.28597 7.4172 9.04219 7.4172H3.33958C2.58337 7.4172 1.85813 7.72001 1.32341 8.25901C0.788686 8.79801 0.488281 9.52905 0.488281 10.2913V12.2074C0.488281 13.3915 1.82934 14.0679 2.76932 13.357L3.40326 12.878C3.56778 12.7536 3.76788 12.6864 3.97352 12.6864C4.17917 12.6864 4.37927 12.7536 4.54378 12.878L4.7966 13.0696C5.29015 13.4427 5.89044 13.6444 6.50738 13.6444C7.12432 13.6444 7.72461 13.4427 8.21816 13.0696L8.47193 12.878C8.63644 12.7536 8.83654 12.6864 9.04219 12.6864C9.24783 12.6864 9.44793 12.7536 9.61245 12.878L9.86621 13.0696C10.3598 13.4427 10.9601 13.6444 11.577 13.6444C12.1939 13.6444 12.7942 13.4427 13.2878 13.0696L13.5406 12.878C13.7051 12.7536 13.9052 12.6864 14.1109 12.6864C14.3165 12.6864 14.5166 12.7536 14.6811 12.878L15.3151 13.357C16.255 14.0679 17.5961 13.3915 17.5961 12.2074V10.2913C17.5961 9.52905 17.2957 8.79801 16.761 8.25901C16.2262 7.72001 15.501 7.4172 14.7448 7.4172H9.04219C9.7984 7.4172 10.5236 7.11439 11.0584 6.57539C11.5931 6.03639 11.8935 5.30535 11.8935 4.54309C11.8935 3.44613 11.1997 2.4948 10.7026 1.93052C10.3737 1.55688 10.0088 1.20241 9.61245 0.902545ZM1.43872 15.4791V17.9556C1.43872 18.4638 1.63898 18.9511 1.99547 19.3105C2.35195 19.6698 2.83544 19.8717 3.33958 19.8717H14.7448C15.2489 19.8717 15.7324 19.6698 16.0889 19.3105C16.4454 18.9511 16.6457 18.4638 16.6457 17.9556V15.4791C16.4245 15.5596 16.1868 15.5829 15.9543 15.547C15.7219 15.511 15.5021 15.4168 15.3151 15.2731L14.6811 14.7941C14.5166 14.6697 14.3165 14.6025 14.1109 14.6025C13.9052 14.6025 13.7051 14.6697 13.5406 14.7941L13.2878 14.9857C12.7942 15.3588 12.1939 15.5605 11.577 15.5605C10.9601 15.5605 10.3598 15.3588 9.86621 14.9857L9.61245 14.7941C9.44793 14.6697 9.24783 14.6025 9.04219 14.6025C8.83654 14.6025 8.63644 14.6697 8.47193 14.7941L8.21816 14.9857C7.72461 15.3588 7.12432 15.5605 6.50738 15.5605C5.89044 15.5605 5.29015 15.3588 4.7966 14.9857L4.54378 14.7941C4.37927 14.6697 4.17917 14.6025 3.97352 14.6025C3.76788 14.6025 3.56778 14.6697 3.40326 14.7941L2.76932 15.2731C2.58229 15.4168 2.3625 15.511 2.13005 15.547C1.8976 15.5829 1.65991 15.5596 1.43872 15.4791Z" fill="#575757"/></svg>
                <span>in 46 days</span>
            </span>

            <span class="total-ideas">
                <!-- bereken hoeveel items in de lijst staan -->
                <span>{{ list.saved_products.size }}</span>
                <span>Cadeau ideeën</span>
                <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.949219 15.8433V0.789062H11.3714V15.8433L6.16032 13.3343L0.949219 15.8433Z" fill="#575757"/></svg>    
            </span>

            <a href="" class="find-new-ideas">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.12259 0.625C5.16433 0.625532 4.21955 0.859462 3.36419 1.30799C2.50883 1.75651 1.76675 2.40713 1.19759 3.20753C0.62843 4.00794 0.248068 4.93581 0.0870738 5.91658C-0.0739202 6.89734 -0.0110557 7.90364 0.270615 8.8546C0.552286 9.80556 1.04491 10.6746 1.70888 11.392C2.37286 12.1094 3.18967 12.655 4.09367 12.9851C4.99767 13.3151 5.96363 13.4204 6.91394 13.2924C7.86424 13.1644 8.77236 12.8067 9.56533 12.2481L13.3511 16.1755C13.4563 16.2926 13.5831 16.3866 13.724 16.4518C13.8649 16.517 14.017 16.552 14.1712 16.5549C14.3254 16.5577 14.4786 16.5282 14.6216 16.4682C14.7646 16.4083 14.8945 16.319 15.0036 16.2058C15.1127 16.0925 15.1987 15.9576 15.2564 15.8091C15.3142 15.6606 15.3426 15.5016 15.3399 15.3415C15.3371 15.1814 15.3034 15.0234 15.2406 14.8772C15.1778 14.7309 15.0873 14.5992 14.9745 14.4901L11.1917 10.5595C11.8176 9.60323 12.1805 8.48794 12.2415 7.33355C12.3025 6.17916 12.0593 5.02934 11.538 4.00773C11.0167 2.98611 10.237 2.13134 9.28289 1.53532C8.32872 0.9393 7.23613 0.624581 6.12259 0.625ZM2.29393 6.98512C2.29393 5.93086 2.6973 4.91979 3.41531 4.17432C4.13333 3.42884 5.10716 3.01004 6.12259 3.01004C7.13801 3.01004 8.11185 3.42884 8.82986 4.17432C9.54788 4.91979 9.95125 5.93086 9.95125 6.98512C9.95125 8.03937 9.54788 9.05045 8.82986 9.79592C8.11185 10.5414 7.13801 10.9602 6.12259 10.9602C5.10716 10.9602 4.13333 10.5414 3.41531 9.79592C2.6973 9.05045 2.29393 8.03937 2.29393 6.98512Z" fill="#575757"/></svg>
                Zoek naar Cadeaus
            </a>
        </article>
        {%- endfor %}

    </section>
</main>

{% render 'partials/foot.liquid', squads: squads %}