{% render 'partials/head.liquid' %}


<main class="index-main">
    <section class="filter-area">
        <h2>I'm looking for a gift for ...</h2>

        <!-- search bar -->
        <div class="search-bar">
            <svg class="svg-mic" width="50" height="56" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.1499 0.777344C11.2297 0.777344 12.2653 1.19323 13.0288 1.9335C13.7924 2.67378 14.2213 3.6778 14.2213 4.72471V12.6194C14.2213 13.6664 13.7924 14.6704 13.0288 15.4107C12.2653 16.1509 11.2297 16.5668 10.1499 16.5668C9.07009 16.5668 8.03451 16.1509 7.27097 15.4107C6.50743 14.6704 6.07847 13.6664 6.07847 12.6194V4.72471C6.07847 3.6778 6.50743 2.67378 7.27097 1.9335C8.03451 1.19323 9.07009 0.777344 10.1499 0.777344ZM19.6499 12.6194C19.6499 17.2642 16.1078 21.0931 11.507 21.7379V25.7773H8.79276V21.7379C4.19204 21.0931 0.649902 17.2642 0.649902 12.6194H3.36419C3.36419 14.3643 4.07911 16.0377 5.35168 17.2715C6.62425 18.5053 8.35022 19.1984 10.1499 19.1984C11.9496 19.1984 13.6756 18.5053 14.9481 17.2715C16.2207 16.0377 16.9356 14.3643 16.9356 12.6194H19.6499Z" fill="#A3A3A3"/></svg>
            <input type="search" placeholder="Today I want a gift for Dreamers"/>
            <button class="button-search"><svg width="64" height="63" viewBox="0 0 64 63" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="31.7246" cy="31.9661" rx="31.498" ry="31.0208" fill="#212121"/><path d="M29.2207 19.0781C27.6702 19.079 26.1417 19.4575 24.7577 20.1832C23.3738 20.9088 22.1732 21.9615 21.2523 23.2565C20.3315 24.5515 19.7161 26.0527 19.4556 27.6396C19.1951 29.2264 19.2968 30.8545 19.7525 32.3931C20.2083 33.9317 21.0053 35.3378 22.0796 36.4985C23.1538 37.6591 24.4754 38.5419 25.938 39.0759C27.4006 39.6099 28.9635 39.7802 30.501 39.5731C32.0385 39.3661 33.5078 38.7874 34.7908 37.8836L40.9159 44.2378C41.0861 44.4274 41.2912 44.5794 41.5192 44.6849C41.7471 44.7903 41.9932 44.847 42.2427 44.8516C42.4923 44.8562 42.7401 44.8085 42.9715 44.7115C43.2029 44.6144 43.4131 44.47 43.5896 44.2868C43.7661 44.1036 43.9052 43.8853 43.9986 43.6451C44.0921 43.4048 44.138 43.1475 44.1336 42.8884C44.1292 42.6294 44.0746 42.3739 43.973 42.1372C43.8714 41.9005 43.725 41.6875 43.5424 41.5109L37.4222 35.1515C38.4347 33.6043 39.0219 31.7999 39.1206 29.9321C39.2193 28.0644 38.8258 26.2041 37.9824 24.5512C37.139 22.8982 35.8776 21.5153 34.3338 20.551C32.79 19.5866 31.0223 19.0774 29.2207 19.0781ZM23.0261 29.3684C23.0261 27.6627 23.6788 26.0268 24.8405 24.8207C26.0022 23.6146 27.5778 22.937 29.2207 22.937C30.8635 22.937 32.4391 23.6146 33.6008 24.8207C34.7625 26.0268 35.4152 27.6627 35.4152 29.3684C35.4152 31.0741 34.7625 32.71 33.6008 33.9161C32.4391 35.1222 30.8635 35.7998 29.2207 35.7998C27.5778 35.7998 26.0022 35.1222 24.8405 33.9161C23.6788 32.71 23.0261 31.0741 23.0261 29.3684Z" fill="white"/></svg></button>
        </div>

        <!-- reviewers -->
        <div class="pictures-reviewers" hidden>
            <img src="/images/spotter_1.webp" alt="reviewer profile picture 1" width="93px" height="95px">
            <img src="/images/spotter_2.webp" alt="reviewer profile picture 2" width="93px" height="95px">
            <img src="/images/spotter_3.webp" alt="reviewer profile picture 3" width="93px" height="95px">
            <img src="/images/spotter_1m.webp" alt="1 million more reviews picture" width="93px" height="95px">
            <span>Sluit je aan bij onze community van spotters</span>
        </div>
    </section>

    <!-- container-gift uit partials -->
    {% render 'partials/container-gift.liquid', giftData: giftData, bookmarks: bookmarks %}
</main>

{% render 'partials/foot.liquid' %}